services:
  postgres:
    image: postgres:17-alpine
    container_name: login-mfa-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: loginmfa
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d loginmfa"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: login-mfa-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  mailhog:
    image: mailhog/mailhog
    container_name: login-mfa-mailhog
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # Web UI

  redisinsight:
    image: redis/redisinsight:latest
    container_name: login-mfa-redisinsight
    ports:
      - "5540:5540"   # Web UI
    volumes:
      - redisinsight_data:/data
    depends_on:
      - redis

volumes:
  postgres_data:
  redis_data:
  redisinsight_data:
